.button
  display inline-block
  padding 7px 10px 3px 10px
  cursor pointer

  &.red
    background Red
    color White
    border-bottom 3px solid #DB3A37

  &.blue
    background Blue
    color White
    border-bottom 3px solid #3281BD

  &.green
    background Green
    color White
    border-bottom 3px solid #538F36

  &.gray
    background Gray
    color Black
    border-bottom 3px solid Black

  &.small
    font-size 12px
    vertical-align middle

  &.white
    border 2px solid White
    text-transform uppercase
    padding 10px 50px
    letter-spacing 3px

.logout-button
  display block
  position fixed
  z-index 10
  bottom 0
  right 0
  margin 1em 1em 0 0

.totop-button
  display block
  position fixed
  z-index 10
  bottom 0
  right 5em
  margin 1em 1em 0 0

.login-button
  img
    width 24px
    margin-right 10px
    position relative
    top 3px

  span
    font-size 20px
