.tweets
  clear both
  width 96%

.tweet
  float left
  width 21%
  margin 4% 0 0 4%
  @media phablet
    width 46%
  @media phone
    width 96%

.tweet-images
  width 100%
  height 200px
  overflow hidden
  
.tweet-image
  width 100%
  height 100%
  background-position center center
  background-size cover

.tweet-info
  padding 10px
  border 2px solid Gray
  border-top 0
  border-bottom-right-radius 10px
  border-bottom-left-radius 10px
  overflow hidden

.tweet-profile-pic
  float left
  border-radius 50%
  width 10%

.tweet-text
  float left
  width 88%
  margin-left 2%
  text-align left
  height 3em
  overflow hidden
  color DarkGray

.tweet-share-stats
  clear both
  padding-top 5px
  color DarkGray
  float right
  text-align left
  width 88%

.tweet-retweets
.tweet-likes
  float left
  width 50%
  img
    margin-right 5px
