.center
  .margin-top-big

    h1.margin-top.bold 
      | App Name
    
    h2.margin-bottom App Tagline.
    
    .phone-width.center-block.form
      input(type="email" placeholder="yourname@email.com")
      .button.blue.login-button.margin-top
        | Request Beta Access
