head
  meta(charset="utf-8")
  title(itemprop="name") PicFeed
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="description" content="View your Twitter feed by images")

  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  meta(name="mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black")

  link(rel="shortcut icon" href="/assets/img/favicon.ico")
  link(rel="apple-touch-icon" href="/assets/img/icon.png")
  link(rel="stylesheet" href="/assets/css/application.css")
