.center(ng-controller="authController as vm")
  .margin-top-big

    h1.margin-top.bold 
      | App Name
    
    h2 App Tagline.


    .phone-width.center-block
      a.button.blue.login-button.margin-top-big(href="/loginTwitter" target="_self" style="display:block;") 
        img(src="/assets/img/twitter.svg")
        span Join with Twitter


      form.form(name="signinForm" ng-submit="vm.join()")

        p.italic.margin or

        .form-group
          label Email*
          input(name="username" type="email" placeholder="Email" ng-model="vm.email" required)
        
        .form-group
          label Password*
          input(name="password" type="password" placeholder="Password" ng-model="vm.password" required)
        
        .form-group.ng-hide(ng-show="vm.error")
          .red.bold.margin {{vm.error}}

        .form-group
          button.medium.button.gray(type="submit") Join
          br
          span.required * required
