.center
  .margin-top-big

    h1.margin-top.bold 
      | App Name
    
    h2 App Tagline.
    
    .phone-width.center-block
      a.button.blue.login-button.margin-top-big(href="/loginTwitter" target="_self" style="display:block;") 
        img(src="/assets/img/twitter.svg")
        span Login with Twitter
