
Green = #70ba4d
Red = #F26865
Black = #000000
Gray =  #d8d8d8
DarkGray = #7f7f7f
Blue = #55ACEE
DarkBlue = #26273C

TextLight = #999
TextDark = #2e2e2e

BgDark = #e9e9e9
BgLight = #fff

.bg-black
  background Black
.bg-white
  background White
.bg-dark
  background BgDark

.white
  color White
.black
  color Black
.green
  color Green
.red
  color Red
.blue
  color Blue
.darkGray
  color darkGray

.icon-fill
  fill White
