.form
  margin 0 auto

  label
    display block
    font-weight 300
    text-align left
  
  input[type=text],
  input[type=email],
  input[type=number],
  input[type=password],
  textarea, select
    appearance none
    display block
    width 100%
    height 40px
    border 1px solid Gray
    border-radius 5px
    box-shadow none
    text-indent 5px
    font-size 14px
    background White
    padding 0
    margin 0
    &:focus
      outline none

  textarea
    text-indent 0
  select
    height 41px
  button
    border none

  input[type=checkbox]
    display inline-block
    transform scale(1.7)
    margin 0 10px 0 5px

.form-group
  margin-top 1em

.required
  font-size 0.8em
  font-style italic
