html
body
  font-family Helvetica, Arial, sans-serif
  font-weight 300
  font-size 16px
  line-height 1.5
  background White
  color TextDark

button
  font-size 14px

.ng-hide
  display none

.disabled
  opacity 0.3

.pull-left
  float left
.pull-right
  float right
.clear-both
  clear both

.overflow-hidden
  overflow hidden

a
  text-decoration none
  color inherit
  cursor pointer

h1, h2, h3
  font-weight 300
h1
  font-size 2.2em
  &.big
    font-size 4em
  @media phablet
    font-size 1.5em
    &.big
      font-size 2em
h2
  font-size 1.8em
  @media phablet
    font-size 1.2em

h3
  font-size 1.5em
  @media phablet
    font-size 1.2em

th
td
  padding 8px

.phone-line-height
  @media phone
    line-height 1.5
.phone-heading
  @media phone
    font-size 1.5em

.composite-layer
  transform translateZ(0)

.relative
  position relative

.clickable
  cursor pointer

.table
  display table
.table-cell-vertical-middle
  display table-cell
  vertical-align middle

.bold
  font-weight bold
.italic
  font-style italic
.uppercase
  text-transform: uppercase
.capitalize
  text-transform: capitalize
.sans-serif
  font-family Helvetica, sans-serif
.serif
  font-family Garamond, serif
.underline
  text-decoration underline
.mini
  font-size 0.6em
.small
  font-size 0.8em
.medium
  font-size 1.2em
.big
  font-size 1.5em
.large
  font-size 2em

.center
  text-align center
.left
  text-align left
.right
  text-align right
.justify
  text-align justify

.block
  display block
.inline-block
  display inline-block
.display-none
  display none
.ng-hide
  display none
.center-block
  display block
  margin auto

.half-width
  width 50%

.margin
  margin 1em
.margin-mini
  margin 0.2em
  @media phone
    margin-top 0.8em
.margin-sm
  margin 0.5em
.margin-big
  margin 2em
.margin-top-sm
  margin-top 0.5em
.margin-top
  margin-top 1em
.margin-top-big
  margin-top 2em
  @media phone
    margin-top 1.5em
.margin-bottom
  margin-bottom 1em
.margin-right
  margin-right 1em
.margin-right-sm
  margin-right 0.5em
.margin-right-big
  margin-right 2em
.margin-left
  margin-left 1em
.margin-left-sm
  margin-left 0.5em
.margin-left-big
  margin-left 2em

.padding
  padding 1em
.padding-left-right
  padding 0 1em
.padding-top
  padding-top 1em
.padding-top-big
  padding-top 2em
.padding-top-sm
  padding-top 0.5em
